.touronline-bg > div {
	background-color: #dfe9f6
}

.left-scroll > .x-panel-body > .touronline-bg {
    direction:ltr;
}

.hotel-icon {
	background-image: url(../../images/hotel.png) !important;
}
.times-icon {
    background-image: url(../../images/times.png) !important;
}
.document-icon {
    background-image: url(../../images/document.png) !important;
}
.x-right-button {
    float: right;
}